name: documentation

on:
  push:
    branches: [ master ]  # J'ai corrigé 'master' en 'main'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Indispensable pour que le bot puisse publier la doc !

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # On installe Sphinx, le thème, ET ton package (pour l'autodoc)
          pip install ghp-import sphinx sphinx_rtd_theme
          pip install -e .

      - name: Build HTML
        run: |
          cd docs/
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html